
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial;
  line-height: 1.6;
  color: #ffffff;
  background: url('fundo.png') no-repeat center fixed;
  background-size: cover;
}

/* Cabeçalho */
header {
  background: rgba(10, 30, 60, 0.9); /* Azul escuro translúcido */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ffcc00;
}

header .logo {
  font-size: 1.4rem;
  font-weight: bold;
  height: 50px;
  width: 50px;
}

.logo{
   display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.5);
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s, transform 0.2s;
}

nav ul li a:hover {
  color: #ffcc00;
  transform: scale(1.05);
}

/* Seções */
.section {
  background: rgba(0, 0, 0, 0.75);
  margin: 40px auto;
  padding: 30px;
  max-width: 900px;
  border: 2px solid #ffcc00;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.6);
}

.section h1,
.section h2 {
  color: #ffcc00;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 15px;
}

.section p {
  color: #e0e0e0;
  font-size: 1rem;
  margin-bottom: 15px;
}

.section ul {
  list-style: square;
  padding-left: 20px;
}

.section ul li {
  margin-bottom: 10px;
  color: #fff;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 15px;
  background: rgba(10, 30, 60, 0.9);
  border-top: 3px solid #ffcc00;
  color: #ccc;
  font-size: 0.9rem;
}
